@import "../vars";


.about-section__item--blue{
  background-color: $blue-color;
  padding-top: 100px;
  padding-bottom: 110px;
}

#inner-video{
  height: 100%;
}

.about-video{
  position: relative;
  .about-video__poster{
    position: absolute;
    top: -6px;
    left: 6px;
  }
}

.about-text{
  font-family: $SF-UI-font;
  color: #fff;
  transform: translate(-2%, -1%);
  h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: $SF-UI-font;
  }
}

.about-text__p{
  font-size: 18px;
}






