@import "../vars";

.contacts-section{
  padding-top: 103px;
  padding-bottom: 10px;
}

.contacts__header--row{
  text-align: center;
  h2{
    font-size: 44px;
    margin-bottom: 45px;
  }
}

.contacts__item{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contacts-h__first{
  font-family: $Muller-font;
  color: $blue-color;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.contacts-h__second{
  font-size: 24px;
  font-family: $Muller-font;
  font-weight: bold;
}