@import "../vars";

.price-section__item--blue{
  background-color: $blue-color;
  padding-top: 100px;
  padding-bottom: 168px;
}

.price-section__header{
  text-align: center;
  font-family: $SF-UI-font;
  margin-bottom: 26px;
  h2{
    font-size: 44px;
    color: #fff;
    margin-bottom: 15px;
  }
  .price-section__text{
    font-size: 22px;
    font-family: $Muller-font;
    color: #fff;
  }
}

.price-section__box--flex{
  align-items: flex-start;
}

.price-section__box{
  position: relative;
  padding-top: 33px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  a{
    margin-top: 15px;
    padding-left: 43px;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 100%;
    position: absolute;
    display: inline-block;
    color: #fff;
    background-color: #F1C40F;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #9a7b00;
    box-shadow: 0px 3px 0px 0px #9a7b00;
    font-size: 20px;
  }
  .price-section__inner{
    img{
      position: absolute;
      right: 14px;
      top: 14px;
    }
    .price-section__box--footer{
      background-color: #0071BE;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      padding-top: 19px;
      padding-left: 15px;
      padding-bottom: 20px;
      .terms{
        font-family: $Muller-font ;
        font-weight: 500 ;
        color: #fff;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
      }
    }

    h2{
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 13px;
      padding-left: 15px;
    }
    .descr{
      display: inline-block;
      font-family: $Muller-font;
      font-style: italic;
      font-size: 18px;
      margin-bottom: 15px;
      padding-left: 10px;
    }
    ul{
      list-style-image: url("../../img/Ellipse 2.png");
      padding-left: 26px;
      li{
        margin-bottom: 19px;
        padding-left: 15px;
      }
    }
  }
}

.price-section__footer--text{
  font-family: $Muller-font;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin-right: 23px;
  .uah{
    padding-left: 0;
    font-size: 12px;
    font-weight: 300;
  }

}



.item1{
  flex-basis: 30%;
}

.item2{
  flex-basis: 36%;
}

.item3{
  flex-basis: 32%;
  margin-right: 0px;
}

