.about-section__item--blue {
  background-color: #3498DB;
  padding-top: 100px;
  padding-bottom: 110px;
}

#inner-video {
  height: 100%;
}

.about-video {
  position: relative;
}

.about-video .about-video__poster {
  position: absolute;
  top: -6px;
  left: 6px;
}

.about-text {
  font-family: "SF UI Text", sans-serif;
  color: #fff;
  -webkit-transform: translate(-2%, -1%);
      -ms-transform: translate(-2%, -1%);
          transform: translate(-2%, -1%);
}

.about-text h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "SF UI Text", sans-serif;
}

.about-text__p {
  font-size: 18px;
}
