.portfolio-section {
  padding-top: 100px;
  padding-bottom: 101px;
  text-align: center;
}

.portfolio-section h2 {
  font-size: 44px;
  font-family: "SF UI Text", sans-serif;
  font-weight: bold;
  margin-bottom: 85px;
}

.portfolio__item {
  position: relative;
  margin-bottom: 30px;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__item .portfolio__item--wrap {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 0;
  left: 14px;
  width: 93%;
  height: 100%;
  background-color: rgba(52, 152, 219, 0.3);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.portfolio__item .portfolio__item--wrap a {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}

.portfolio__item .portfolio__item--wrap a:after {
  content: "";
  background-color: #F1C40F;
  width: 170px;
  height: 5px;
  position: absolute;
  bottom: -114px;
  right: -93px;
}

.portfolio__item .portfolio__item--wrap a:before {
  content: "";
  background-color: #F1C40F;
  height: 170px;
  width: 5px;
  position: absolute;
  bottom: -114px;
  right: -93px;
}

.portfolio__item .portfolio__item--wrap h3 {
  position: relative;
  margin-top: 90px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}

.portfolio__item .portfolio__item--wrap h3:after {
  content: "";
  background-color: #F1C40F;
  width: 170px;
  height: 5px;
  position: absolute;
  top: -80px;
  left: 10px;
}

.portfolio__item .portfolio__item--wrap h3:before {
  content: "";
  background-color: #F1C40F;
  height: 170px;
  width: 5px;
  position: absolute;
  top: -80px;
  left: 10px;
}

.portfolio__item:hover .portfolio__item--wrap {
  opacity: 1;
}

.all-works--btn {
  display: inline-block;
  margin-top: 3px;
  color: #fff;
  background-color: #F1C40F;
  padding: 21px 104px 24px 71px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px 0px #9a7b00;
          box-shadow: 0px 3px 0px 0px #9a7b00;
  font-size: 20px;
}

.all-works--btn:hover {
  text-decoration: none;
  color: #fff;
}
