.services-description-section {
  padding-top: 105px;
  padding-bottom: 88px;
}

#inner-video2 {
  height: 98%;
}

.services-video {
  position: relative;
}

.services-video__poster {
  cursor: pointer;
  position: absolute;
  top: -6px;
  left: 6px;
}

.services-text {
  font-family: "SF UI Text", sans-serif;
  color: #000;
  -webkit-transform: translate(-2%, -1%);
      -ms-transform: translate(-2%, -1%);
          transform: translate(-2%, -1%);
}

.services-text h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "SF UI Text", sans-serif;
}

.services-text a {
  font-family: "SF UI Text", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.services-text__p {
  font-size: 18px;
}

.services-text__p p:last-child {
  margin-bottom: 10px;
}
