@import "../../node_modules/bootstrap/scss/bootstrap";
@import "normalize";
@import "block/header-section";
@import "block/about-section";
@import "block/adv-section";
@import "block/form-section";
@import "block/portfolio-section";
@import "block/price-section";
@import "block/services-description-section";
@import "block/form-section2";



*{
  box-sizing: border-box;
}

a:hover{
  text-decoration: none;
}
